   *{margin: 0;padding: 0;}
		    p{color: gray;font-size: 15px;line-height: 25px;}
		    .trends_title{width: 90%;margin: 0 auto;margin-bottom: 30px;}
		    .trends_title p:nth-child(1){margin-top: 40px;}
		    .trends_title h1{margin: 0 auto;width: 95%;margin-top: 30px;margin-bottom: 30px;}
		    .trends_contant1{width: 90%;margin-left: 5%;}
			.trends_contant1_left{width: 90%;height: 250px;margin-left: 5%;}
			.trends_contant1_left img{width: 100%;height: 100%;}
			.trends_contant1_right{width: 90%;height: 400px;margin-left: 5%;}
			.trends_contant1{width: 90%;margin: 0 auto;}
			.trends_contant2{width: 90%;margin: 0 auto;margin-top: 50px;margin-bottom: 80px;}
			.trends_contant2_img1{width: 585px;height: 385px;margin: 0 auto;margin-bottom: 10px;margin-top: 30px;}
			.trends_contant2_img2{width: 585px;height: 385px;margin: 0 auto;margin-bottom: 20px;} 
			.trends_contant2_img1 img{width: 100%;height: 100%;}
			.trends_contant2_img2 img{width: 100%;height: 100%;}